* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*width includes border, padding*/
}

html {
    overflow-y: scroll;
}

:root {
    --primary-color: #4a6cff;
    --primary-light: #e3e9ff;
    --secondary-color: #ff4d94;
    --text-color: #333;
    --light-text: #777;
    --background: #f8f9fd;
    --card-bg: #ffffff;
    --course-color: #4d6dff;
    --seminar-color: #ff4d94;
    --optional-color: #888888;
    --shadow: 0 8px 30px rgba(0, 0, 0, 0.16);
    --border-radius: 12px;
    --swal-bg: #ffffff;
    --swal-text: #000000;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--background);
    color: var(--text-color);
}

body.dark {
    --primary-light: #2b2b2b;
    --text-color: #e0e0e0;
    --light-text: #aaaaaa;
    --background: #1e1e1e;
    --card-bg: #2a2a2a;
    --swal-bg: #2a2a2a;
    --swal-text: #ffffff;
}

body.dark .logout-btn,
body.dark input,
body.dark select,
body.dark select option {
    background-color: var(--primary-light);
    /*re-evs var(--background) dynamically whenever --background changes */
    color: var(--text-color);
}


body.dark .logout-btn:hover {
    background: var(--primary-color);
    color: white;
}

body.dark .submit-btn:hover {
    background: var(--secondary-color);
}

body.dark input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--primary-light) inset;
    -webkit-text-fill-color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: var(--card-bg);
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
}

.logo i {
    margin-right: 10px;
    font-size: 28px;
}

.logout-btn {
    background: var(--primary-light);
    color: var(--primary-color);
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logout-btn:hover {
    background: var(--primary-color);
    color: white;
}

.user-info {
    display: flex;
    gap: 1.5em;
}

.theme-toggle {
    background: none;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.theme-toggle:hover {
    color: var(--light-text);
}

.theme-toggle i {
    font-size: 24px;
}

.custom-swal {
    background-color: var(--swal-bg);
    color: var(--swal-text);
}