body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1; /* let it take all the rem. space*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container {
    background: var(--card-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 20px;
    text-align: center;
    min-width: 330px;
}

.form-switcher {
    display: flex;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
}

.form-switcher button {
    flex: 1;
    background: none;
    border: none;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    color: var(--light-text);
}

.form-switcher button.active {
    color: var(--primary-color);
    font-weight: 700;
    border-bottom: 3px solid var(--primary-color);
}

form {
    display: none;
}

form.active-form {
    display: block;
}

h2 {
    margin-bottom: 15px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.tag-group {
    display: flex;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 4px;
    color: var(--light-text);
    font-size: 13px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #ddd;
    border-radius: 6px;
    font-size: 13px;
    background: white;
    color: #000;
}


input:focus,
select:focus {
    border-color: var(--primary-color);
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.submit-btn:hover {
    background: #0a1d75;
}

@media (max-width: 420px) {
    .form-container {
        padding: 15px;
    }

    h2 {
        font-size: 16px;
    }

    .submit-btn {
        font-size: 13px;
    }
}
